<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kartu Keluarga</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
<div class="container">
    <h2>Data Kartu Keluarga</h2>
    <table>
        <thead>
        <tr>
            <th>NIK</th>
            <th>Nama</th>
            <th>Alamat</th>
            <th>Tanggal Lahir</th>
            <th>Golongan Darah</th>
            <th>Agama</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <% dataKartuKeluarga.forEach(data => { %>
            <tr>
                <td><%= data.nik %></td>
                <td><%= data.nama %></td>
                <td><%= data.alamat %></td>
                <td><%= data.tanggal_lahir %></td>
                <td><%= data.golongan_darah %></td>
                <td><%= data.agama %></td>
                <td><%= data.status %></td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
</body>

</html>
